<h1>Бронирование комнаты</h1>

<ul>
    <li>Номер комнаты: {{roomId}}</li>
    <li>Начало бронирование: {{timeStart}}</li>
    <li>Продолжительность: {{duration}}</li>
    <li>Описание события: {{summaryEvent}}</li>
    <li>ФИО: {{fio}}</li>
    <li>Почта: {{email}}</li>
    <li>Номер телефона: {{phoneNumber}}</li>
</ul>